<div>
    <div class="grid-container">
        <div class="grid-item">
            <h1><u>{{restaurant.name}}</u></h1>
            <h3>Location: {{restaurant.location}}<br>
            Cuisine: {{restaurant.cuisine}}<br></h3>
            <img class="item-img" src="{{restaurant.image}}" /><br>
            <a class="btn" href="/restaurants"><button class="button">â® Restaurants</button></a> | <a href="/restaurants/{{id}}/menus/{{id}}"><button class="button">Menu â¯</button></a>
        </div>
</div>